.box1{
    width: 100px;
    height: 100px;
    background-color: #bfa;

    /* 浮动，表示向哪个地方靠拢 */
    /* 设置浮动之后，不会再强制要求水平填满父元素，也就不会自动增加外边距 */
    /* 设置浮动之后会从文档流中脱离，会和文档流中的元素独立开布局 */
    float: right;
}

/* 浮动的元素不会被移出父元素 */
/* 浮动的元素不会和别的浮动元素重合，而是水平紧贴 */
/* 浮动的元素不会比其上面的兄弟元素要高，即使浮动方向不同 */
.box2 {
    width: 100px;
    height: 100px;
    background-color: red;

    float: left;
}

.box3 {
    width: 100px;
    height: 100px;
    background-color: blue;

    float: left;
}

/* 
    没浮动的元素占据了整行，然后再有浮动的元素时，不会让位置
    但若先有浮动的元素再有未浮动的元素的话，就会导致重叠，未浮动的元素会无视浮动的元素进行布局
*/
.boxnotfloat {
    width: 400px;
    height: 200px;
    background-color: pink;
}

/* 
    浮动元素不会遮盖文字而是让文字四周型环绕，
    这可以用来做文字对图片的四周环绕效果
*/


/* 
    脱离文档流后，块元素不再独占一行，且宽高都默认会被元素撑开
    行内元素与块元素等价，宽高设置生效
*/