<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>导航条</title>

    <link rel="stylesheet" href="c4.css">
</head>
<body>
    <nav class="topnav">
        <li>
            <a href="javascript:;">book</a>
        </li>
        <li>
            <a href="javascript:;">movie</a>
        </li>
        <li>
            <a href="javascript:;">web</a>
        </li>
        <li>
            <a href="javascript:;">codeeecode</a>
        </li>
    </nav>
</body>
</html>