/* 去除所有标签的两个默认样式 */
*{
    margin: 0;
    padding: 0;
}

/* 去除浏览器的body默认样式，否则会离边界有一定距离 */
/* body {
    margin: 0px;
} */

ul{
    /* 去除默认符号，如点和序号 */
    list-style: none;

    /* margin: 0; */
    /* 去掉缩进 */
    /* padding: 0; */
    /* margin-left: 20px; */
}